{% extends 'mainsite/base.html' %}
{% block content %}
    <div class="reviews-container">
        <h2>Reviews for {{ user.username }}</h2>
        {% if reviews %}
            <ul class="review-list">
                {% for review in reviews %}
                    <li class="review-item">
                        <div class="review-header">
                            <div class="stars" style="--rating: {{ review.rating }}"><span style="color: black">{{ review.rating }}</span></div>
                            <span class="review-date">{{ review.date_posted }}</span>
                        </div>
                        <div class="review-content">
                            {{ review.content }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    </div>
{% endblock %}